<div class="main">

    <div id="introSection" class="section">
        <div id="paymentPending" class="bodyText">{{ paymentPending }}</div>
        <p id="paymentReceived" class="bodyText">{{ paymentReceived }}</p>
        <p class="bodyText">If you need support, please contact <span style="font-weight: 900">payments@pyrofex.net</span></p>
    </div>

    <div id="ethereumSection" class="section">
        <div id="ethereumLine" class="line">Ethereum address: <pre>{{ address }}</pre></div>
        <div id="discountLine" class="line">Promo code: <span id="paymentPaid">{{ paymentPaid }}</span>
        <span id="paymentUnpaid">{{ paymentUnpaid }}</span></div>
        <noscript><a href="https://www.eventbrite.com/e/rchain-developers-conference-tickets-46303100821" rel="noopener noreferrer" target="_blank"></noscript>
                    <button id="eventbrite-widget-modal-trigger-46303100821" type="button">Register with Eventbrite</button>
                    <noscript></a>Buy Tickets on Eventbrite</noscript>

                    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

                    <script type="text/javascript">
                        var exampleCallback = function() {
                            console.log('Order complete!');
                        };

                        window.EBWidgets.createWidget({
                            widgetType: 'checkout',
                            eventId: '46303100821',
                            modal: true,
                            modalTriggerElementId: 'eventbrite-widget-modal-trigger-46303100821',
                            onOrderComplete: exampleCallback
                        });

                    </script>
    </div>

    <div id="orderconfSection" class="section">

        <div class="line"><b>INVOICE</b></div>
        <div id="generalAdmissionLine" class="line"><span>RCon3 Ticket: &nbsp;General Admission</span><span class="cost">.75 ETH</span>X<span id="generalAdmissionCount2" class="count">{{generalAdmission}}</span><span id="generalAdmissionCost2" class="total">{{ generalAdmissionTotal }} ETH</span></div>

        <div id="studentLine" class="line"><span>RCon3 Ticket: &nbsp;Student</span><span class="cost">.06 ETH</span>X<span id="studentCount2" class="count"> {{ student }}</span><span id="studentCost2" class="total">{{ studentTotal }} ETH</span></div>

        <div class="divider"></div>
        <div class="line"><b>Total</b><span class="total"><b id="totalCost2">{{ total }} ETH</b></span></div>
        <div id="emailLine" class="line">Email: <b>{{ email }}</b></div>
    </div>

</div>
